.listtab-tabs.mx-tabcontainer {
    background: var(--bg-color-secondary);
    .mx-tabcontainer-tabs {
        background: var(--brand-primary);
        margin-bottom: 0;
        li {
            > a {
                color: var(--white);
                opacity: 0.6;
                &:hover,
                &:focus {
                    color: var(--white);
                }
            }
            &.active {
                > a {
                    opacity: 1;
                    color: var(--white);
                    border-color: var(--white);
                    &:hover,
                    &:focus {
                        color: var(--white);
                        border-color: var(--white);
                    }
                }
            }
        }
    }
}
