:root {
    --gray-darker: #212225;
    --gray-dark: #8B8D92;
    --gray: #B8BABF;
    --gray-light: #C1C3C8;
    --gray-primary: #e7e7e9;
    --gray-lighter: #f8f8f8;

    --brand-default: var(--gray-primary);
    --brand-primary: #264ae5;
    --brand-success: #1AC61A;
    --brand-warning: #f0b000;
    --brand-danger: #EA3337;

    --white: #fff;
    --black: #000;

    --brand-logo: false;
    --brand-logo-height: 24px;
    --brand-logo-width: 32px;
    --brand-gradient: linear-gradient(to bottom, var(--brand-primary-90), var(--brand-primary-70));

    --font-size-default: 14px;
    --font-color-default: var(--gray-darker);

    --border-color-default: #e6e6e6;
    --border-default: var(--border-width-default) solid var(--border-color-default);
    --border-radius-s: 4px;
    --border-radius-m: 8px;
    --border-radius-l: 12px;
    --border-radius-default: var(--border-radius-m);
    --border-width-default: var(--border-width-thin);
    --border-width-thin: 1px;
    --border-width-medium: 2px;
    --border-width-thick: 3px;

    --topbar-bg: linear-gradient(to bottom, var(--brand-primary-50), var(--brand-primary-60));
    --topbar-minimalheight: 48px;
    --topbar-border-color: var(--border-color-default);

    --sidebar-bg: linear-gradient(to bottom, var(--brand-primary-60), var(--brand-primary-75));

    --m-header-height: 4px;
    --m-header-bg: var(--topbar-bg);
    --m-header-color: var(--white);
    --m-header-title-size: 16px;

    --navbar-brand-name: var(--font-color-default);

    --bg-color: color-mix(in srgb, var(--brand-primary), var(--white) 95%);
    --bg-color-secondary: var(--white);

    --link-color: var(--brand-primary);
    --link-hover-color: color-mix(in srgb, var(--link-color), var(--black) 15%);

    --font-family-import: "https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,700&display=swap";
    --font-family-base: "Poppins", sans-serif;

    --font-size-large: 18px;
    --font-size-small: 12px;

    --font-weight-light: 300;
    --font-weight-normal: 400;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;

    --font-size-h1: 34px;
    --font-size-h2: 26px;
    --font-size-h3: 24px;
    --font-size-h4: 16px;
    --font-size-h5: var(--font-size-default);
    --font-size-h6: 12px;

    --font-weight-header: var(--font-weight-semibold);

    --line-height-base: 1.428571429;

    --font-header-margin: 0 0 8px 0;

    --font-color-detail: var(--gray-darker);
    --font-color-header: var(--gray-darker);

    --navigation-item-height: unset;
    --navigation-item-padding: 8px;

    --navigation-font-size: 14px;
    --navigation-sub-font-size: var(--font-size-small);
    --navigation-glyph-size: 20px;

    --navigation-color: white;
    --navigation-color-hover: white;
    --navigation-color-active: white;

    --navigation-sub-color: white;
    --navigation-sub-color-hover: white;
    --navigation-sub-color-active: white;

    --navigation-bg: var(--topbar-bg);
    --navigation-bg-hover: rgba(0, 0, 0, 0.2);
    --navigation-bg-active: rgba(0, 0, 0, 0.3);

    --navsidebar-bg: var(--sidebar-bg);
    --navsidebar-bg-hover: var(--navigation-bg-hover);
    --navsidebar-bg-active: var(--navigation-bg-active);

    --navsidebar-sub-bg: var(--brand-primary-75);
    --navsidebar-sub-bg-hover: var(--navigation-bg-hover);
    --navsidebar-sub-bg-active: var(--navigation-bg-active);

    --navsidebar-border-color: var(--border-color-default);
    --navsidebar-shadow: 0 0 4px rgb(0 0 0 / 14%), 2px 4px 8px rgb(0 0 0 / 28%);

    --navsidebar-font-size: var(--font-size-default);
    --navsidebar-sub-font-size: var(--font-size-small);
    --navsidebar-glyph-size: 20px;

    --navsidebar-color: var(--navigation-color);
    --navsidebar-color-hover: var(--navigation-color);
    --navsidebar-color-active: var(--navigation-color);

    --navsidebar-sub-color: var(--navigation-color);
    --navsidebar-sub-color-hover: var(--navigation-color);
    --navsidebar-sub-color-active: var(--navigation-color);

    --navsidebar-width-closed: 52px;
    --navsidebar-width-open: 232px;

    --navtopbar-font-size: var(--font-size-small);
    --navtopbar-sub-font-size: var(--font-size-small);
    --navtopbar-glyph-size: 1.2em;

    --navtopbar-bg: var(--topbar-bg);
    --navtopbar-bg-hover: var(--navigation-bg-hover);
    --navtopbar-bg-active: var(--navigation-bg-active);
    --navtopbar-color: var(--white);
    --navtopbar-color-hover: color-mix(in srgb, var(--navtopbar-color) 85%, white);
    --navtopbar-color-active: color-mix(in srgb, var(--navtopbar-color) 85%, white);

    --navtopbar-sub-bg: var(--topbar-bg);
    --navtopbar-sub-bg-hover: var(--navtopbar-bg-hover);
    --navtopbar-sub-bg-active: var(--navtopbar-bg-hover);
    --navtopbar-sub-color: var(--white);
    --navtopbar-sub-color-hover: var(--white);
    --navtopbar-sub-color-active: var(--white);

    --navtopbar-border-color: var(--topbar-border-color);

    --shadow-color-border: var(--border-color-default);
    --shadow-color: var(--gray-primary);
    --shadow-small: 0 2px 4px 0;
    --shadow-medium: 0 5px 7px 0;
    --shadow-large: 0 8px 10px 0;

    --form-input-style: default;

    --form-label-color: var(--font-color-default);
    --form-label-size: var(--font-size-default);
    --form-label-weight: var(--font-weight-normal);
    --form-label-gutter: 8px;

    --form-input-height: auto;
    --form-input-padding-y: 8px;
    --form-input-padding-x: 8px;
    --form-input-static-padding-y: 8px;
    --form-input-static-padding-x: 0;
    --form-input-font-size: var(--form-label-size);
    --form-input-line-height: var(--line-height-base);
    --form-input-border-radius: 6px;

    --form-input-bg: var(--white);
    --form-input-bg-focus: var(--white);
    --form-input-bg-hover: var(--gray-primary);
    --form-input-bg-disabled: var(--bg-color);
    --form-input-color: var(--font-color-default);
    --form-input-focus-color: var(--form-input-color);
    --form-input-disabled-color: #9da1a8;
    --form-input-placeholder-color: #A1A9B8;
    --form-input-border-color: var(--gray-primary);
    --form-input-border-focus-color: var(--brand-primary);
    --form-input-border-hover-color: color-mix(in srgb, var(--form-input-border-color), var(--form-input-border-focus-color) 50%);

    --form-input-static-border-color: var(--gray-primary);

    --form-group-margin-bottom: 16px;
    --form-group-gutter: 16px;

    --btn-font-size: 14px;
    --btn-bordered: false;
    --btn-border-radius: var(--border-radius-default);

    --btn-default-bg: var(--white);
    --btn-primary-bg: var(--brand-primary);
    --btn-success-bg: var(--brand-success);
    --btn-warning-bg: var(--brand-warning);
    --btn-danger-bg: var(--brand-danger);

    --btn-default-border-color: var(--gray-primary);
    --btn-primary-border-color: var(--brand-primary);
    --btn-success-border-color: var(--brand-success);
    --btn-warning-border-color: var(--brand-warning);
    --btn-danger-border-color: var(--brand-danger);

    --btn-default-color: var(--brand-primary);
    --btn-primary-color: white;
    --btn-success-color: white;
    --btn-warning-color: white;
    --btn-danger-color: white;

    --btn-default-icon-color: var(--gray);

    --btn-default-bg-hover: var(--btn-default-border-color);
    --btn-primary-bg-hover: color-mix(in srgb, var(--btn-primary-bg), var(--black) 20%);
    --btn-success-bg-hover: color-mix(in srgb, var(--btn-success-bg), var(--black) 20%);
    --btn-warning-bg-hover: color-mix(in srgb, var(--btn-warning-bg), var(--black) 20%);
    --btn-danger-bg-hover: color-mix(in srgb, var(--btn-danger-bg), var(--black) 20%);
    --btn-link-bg-hover: var(--gray-lighter);

    --header-min-height: 240px;
    --header-bg-color: var(--brand-primary);
    --header-bgimage-filter: brightness(60%);
    --header-text-color: var(--white);
    --header-text-color-detail: rgba(0, 0, 0, 0.2);

    --grid-border-color: var(--border-color-default);

    --grid-padding-top: 16px;
    --grid-padding-right: 16px;
    --grid-padding-bottom: 16px;
    --grid-padding-left: 16px;

    --listview-padding-top: 16px;
    --listview-padding-right: 16px;
    --listview-padding-bottom: 16px;
    --listview-padding-left: 16px;

    --grid-bg: transparent;
    --grid-bg-header: transparent;
    --grid-bg-hover: color-mix(in srgb, var(--grid-border-color), var(--white) 80%);
    --grid-bg-selected: color-mix(in srgb, var(--grid-border-color), var(--white) 70%);
    --grid-bg-selected-hover: color-mix(in srgb, var(--grid-border-color), var(--white) 50%);
    --grid-bg-striped: color-mix(in srgb, var(--grid-border-color), var(--white) 90%);
    --grid-footer-bg: var(--gray-primary);

    --grid-selected-color: var(--font-color-default);

    --grid-paging-bg: transparent;
    --grid-paging-bg-hover: transparent;
    --grid-paging-border-color: transparent;
    --grid-paging-border-color-hover: transparent;
    --grid-paging-color: var(--gray-light);
    --grid-paging-color-hover: var(--brand-primary);

    --tabs-color: var(--font-color-detail);
    --tabs-color-active: var(--font-color-default);
    --tabs-lined-color-active: var(--font-color-default);

    --tabs-lined-border-width: 3px;
    --tabs-border-color: var(--border-color-default);
    --tabs-lined-border-color: var(--brand-primary);
    --tabs-bg: transparent;
    --tabs-bg-pills: #e7e7e9;
    --tabs-bg-hover: color-mix(in srgb, var(--tabs-border-color) 50%, var(--white));
    --tabs-bg-active: var(--brand-primary);

    --modal-header-bg: transparent;
    --modal-header-border-color: var(--border-color-default);
    --modal-header-color: var(--font-color-default);

    --dataview-controls-bg: transparent;
    --dataview-controls-border-color: var(--border-color-default);
    --dataview-controls-alignment: left;

    --dataview-emptymessage-bg: var(--bg-color);
    --dataview-emptymessage-color: var(--font-color-default);

    --alert-success-bg: var(--brand-success-20);
    --alert-warning-bg: var(--brand-warning-20);
    --alert-danger-bg: var(--brand-danger-20);

    --alert-success-color: var(--brand-success-65);
    --alert-warning-color: var(--brand-warning-65);
    --alert-danger-color: var(--brand-danger-65);

    --alert-success-border-color: var(--brand-success-65);
    --alert-warning-border-color: var(--brand-warning-65);
    --alert-danger-border-color: var(--brand-danger-65);

    --wizard-step-height: 48px;
    --wizard-step-number-size: 64px;
    --wizard-step-number-font-size: var(--font-size-h3);

    --wizard-default-bg: var(--white);
    --wizard-default-color: var(--white);
    --wizard-default-step-color: var(--font-color-default);
    --wizard-default-border-color: var(--border-color-default);

    --wizard-active-bg: var(--brand-primary-20);
    --wizard-active-color: var(--brand-primary-65);
    --wizard-active-step-color: var(--brand-primary-65);
    --wizard-active-border-color: var(--brand-primary-65);

    --wizard-visited-bg: var(--brand-success-20);
    --wizard-visited-color: var(--brand-success-65);
    --wizard-visited-step-color: var(--brand-success-65);
    --wizard-visited-border-color: var(--brand-success-65);

    --label-default-bg: var(--brand-default);
    --label-primary-bg: var(--brand-primary);
    --label-success-bg: var(--brand-success);
    --label-warning-bg: var(--brand-warning);
    --label-danger-bg: var(--brand-danger);

    --label-default-border-color: var(--brand-default);
    --label-primary-border-color: var(--brand-primary);
    --label-success-border-color: var(--brand-success);
    --label-warning-border-color: var(--brand-warning);
    --label-danger-border-color: var(--brand-danger);

    --label-default-color: var(--font-color-default);
    --label-primary-color: #fff;
    --label-success-color: #fff;
    --label-warning-color: #fff;
    --label-danger-color: #fff;

    --groupbox-default-bg: var(--gray-primary);
    --groupbox-primary-bg: var(--brand-primary);
    --groupbox-success-bg: var(--brand-success);
    --groupbox-warning-bg: var(--brand-warning);
    --groupbox-danger-bg: var(--brand-danger);
    --groupbox-white-bg: var(--white);

    --groupbox-default-color: var(--font-color-default);
    --groupbox-primary-color: var(--white);
    --groupbox-success-color: var(--white);
    --groupbox-warning-color: var(--white);
    --groupbox-danger-color: var(--white);
    --groupbox-white-color: var(--font-color-default);

    --callout-default-color: var(--font-color-default);
    --callout-success-color: var(--brand-success);
    --callout-warning-color: var(--brand-warning);
    --callout-danger-color: var(--brand-danger);

    --callout-default-bg: var(--gray-primary-light);
    --callout-success-bg: var(--brand-success-20);
    --callout-warning-bg: var(--brand-warning-20);
    --callout-danger-bg: var(--brand-danger-20);

    --timeline-icon-color: var(--brand-primary);
    --timeline-border-color: var(--border-color-default);
    --timeline-event-time-color: var(--brand-primary);
    --timeline-icon-size: 18px;
    --timeline-image-size: 36px;
    --timeline-grouping-size: 120px;
    --timeline-grouping-border-radius: 30px;
    --timeline-grouping-border-color: var(--timeline-border-color);

    --accordion-header-default-bg: var(--bg-color-secondary);
    --accordion-header-default-bg-hover: var(--bg-color);
    --accordion-header-default-color: var(--font-color-header);
    --accordion-default-border-color: var(--border-color-default);
    --accordion-bg-striped: var(--grid-bg-striped);
    --accordion-bg-striped-hover: var(--grid-bg-selected);

    --accordion-header-primary-bg: var(--btn-primary-bg);
    --accordion-header-secondary-bg: var(--btn-default-bg);
    --accordion-header-success-bg: var(--btn-success-bg);
    --accordion-header-warning-bg: var(--btn-warning-bg);
    --accordion-header-danger-bg: var(--btn-danger-bg);

    --accordion-header-primary-bg-hover: var(--btn-primary-bg-hover);
    --accordion-header-secondary-bg-hover: var(--btn-default-bg-hover);
    --accordion-header-success-bg-hover: var(--btn-success-bg-hover);
    --accordion-header-warning-bg-hover: var(--btn-warning-bg-hover);
    --accordion-header-danger-bg-hover: var(--btn-danger-bg-hover);

    --accordion-header-primary-color: var(--btn-primary-color);
    --accordion-header-secondary-color: var(--btn-default-color);
    --accordion-header-success-color: var(--btn-success-color);
    --accordion-header-warning-color: var(--btn-warning-color);
    --accordion-header-danger-color: var(--btn-danger-color);

    --accordion-primary-border-color: var(--btn-primary-border-color);
    --accordion-secondary-border-color: var(--btn-default-border-color);
    --accordion-success-border-color: var(--btn-success-border-color);
    --accordion-warning-border-color: var(--btn-warning-border-color);
    --accordion-danger-border-color: var(--btn-danger-border-color);

    --spacing-smallest: 2px;
    --spacing-smaller: 4px;
    --spacing-small: 8px;
    --spacing-medium: 16px;

    --t-spacing-medium: 16px;
    --m-spacing-medium: 16px;

    --spacing-large: 24px;
    --t-spacing-large: 24px;
    --m-spacing-large: 16px;

    --spacing-larger: 32px;
    --spacing-largest: 48px;

    --layout-spacing-top: 24px;
    --layout-spacing-right: 24px;
    --layout-spacing-bottom: 24px;
    --layout-spacing-left: 24px;

    --t-layout-spacing-top: 24px;
    --t-layout-spacing-right: 24px;
    --t-layout-spacing-bottom: 24px;
    --t-layout-spacing-left: 24px;

    --m-layout-spacing-top: 16px;
    --m-layout-spacing-right: 16px;
    --m-layout-spacing-bottom: 16px;
    --m-layout-spacing-left: 16px;

    --layout-spacing: var(--layout-spacing-top) var(--layout-spacing-right) var(--layout-spacing-bottom) var(--layout-spacing-left);
    --m-layout-spacing: var(--m-layout-spacing-top) var(--m-layout-spacing-right) var(--m-layout-spacing-bottom) var(--m-layout-spacing-left);
    --t-layout-spacing: var(--t-layout-spacing-top) var(--t-layout-spacing-right) var(--t-layout-spacing-bottom) var(--t-layout-spacing-left);

    --gutter-size: var(--spacing-medium);

    --padding-table-cell-top: 8px;
    --padding-table-cell-bottom: 8px;
    --padding-table-cell-left: 8px;
    --padding-table-cell-right: 8px;

    --brand-inverse: color-mix(in srgb, var(--brand-primary), var(--white) 20%);
    --brand-info: color-mix(in srgb, var(--brand-primary), white 30%);

    --btn-inverse-bg: var(--brand-inverse);
    --btn-info-bg: var(--brand-info);

    --btn-inverse-border-color: var(--brand-inverse);
    --btn-info-border-color: var(--brand-info);

    --btn-inverse-color: var(--white);
    --btn-info-color: var(--white);

    --btn-inverse-bg-hover: color-mix(in srgb, var(--btn-inverse-bg), white 20%);
    --btn-info-bg-hover: color-mix(in srgb, var(--btn-info-bg), white 20%);

    --alert-info-bg: var(--color-info-10);
    --alert-info-color: var(--color-info-70);
    --alert-info-border-color: var(--color-info-65);

    --label-info-bg: var(--brand-info);
    --label-inverse-bg: var(--brand-inverse);

    --label-info-border-color: var(--brand-info);
    --label-inverse-border-color: var(--brand-inverse);

    --label-info-color: var(--white);
    --label-inverse-color: var(--white);

    --groupbox-inverse-bg: var(--brand-inverse);
    --groupbox-info-bg: var(--brand-info);

    --groupbox-inverse-color: var(--white);
    --groupbox-info-color: var(--white);

    --callout-info-color: var(--brand-info);
    --callout-info-bg: var(--color-info-10);
}