/* ==========================================================================
   Breadcrumbs

========================================================================== */
.breadcrumb {
    //reset
    margin: 0;
    padding: 0;
    border-radius: 0;
    background-color: transparent;
    font-size: var(--font-size-default);
    margin-bottom: var(--spacing-large);
}

//== Elements
//-------------------------------------------------------------------------------------------------------------------//
.breadcrumb-item {
    display: inline-block;
    margin: 0;
    &:last-child {
        color: var(--font-color-default);
        a {
            text-decoration: none;
        }
    }
}
.breadcrumb-item + .breadcrumb-item {
    &::before {
        display: inline-block;
        padding-right: var(--spacing-small);
        padding-left: var(--spacing-small);
        content: "/";
        color: var(--gray-light);
    }
}

//== Variations
//-------------------------------------------------------------------------------------------------------------------//
.breadcrumb-large {
    font-size: var(--font-size-h3);
}
.breadcrumb-underline {
    padding-bottom: var(--spacing-medium);
    border-bottom: var(--border-default);
}
