/* ==========================================================================
   Hero header

========================================================================== */

.headerhero {
    width: 100%;
    min-height: var(--header-min-height);
    background-color: var(--header-bg-color);
    position: relative;
    overflow: hidden;
    padding: var(--spacing-large);
    margin-bottom: var(--spacing-large);
}

//== Elements
//-------------------------------------------------------------------------------------------------------------------//
.headerhero-title {
    color: var(--header-text-color);
}

.headerhero-subtitle {
    color: var(--header-text-color);
}

.headerhero-backgroundimage {
    position: absolute;
    z-index: 0;
    top: 0;
    height: 100%;
    width: 100%;
    filter: var(--header-bgimage-filter);
}

.btn.headerhero-action {
    color: var(--header-text-color);
}

.heroheader-overlay {
    z-index: 1;
}
