@import "../../datawidgets/web/datagrid.scss";
@import "../../atlas_core/web/core/base/card";
@include card();

.card-preview{
    > .card-body{
        min-height: 280px;
        > .mx-dataview, > .mx-datagrid{
            background-color: #fff;
            border-radius: var(--border-radius-default);
            padding: var(--spacing-medium);
        }
    }
}

.grid-variation{
    @extend .card;
    --layoutgrid-row-gap: 0px;
    --layoutgrid-column-gap: 0px;
    > .row{
        margin-left: 0;
        margin-right: 0;
        > [class*="col-"]{
            &:not(:last-child){
                border-right: 0.5px solid var(--border-color-default);
            }
            padding-left: 0;
            padding-right: 0;
        }
        &:not(:last-child){
            border-bottom: 0.5px solid var(--border-color-default);
        }
    }
}

.grid-variation-preview{
    > .row{
        margin-left: 0;
        margin-right: 0;
        > [class*="col-"] {
            &:not(:last-of-type) {
                border-right: 0.5px solid var(--bg-color) ;
            }
            padding-left: 0;
            padding-right: 0;
            background: var(--bg-color-secondary) ;
        }
    }
}

.preview {
    // height: 100%;
    border-radius: var(--border-radius-default);
}

.demo-area{
    padding: var(--spacing-medium);
    flex: 0 0 50%;
}

.has-focus{
    input, textarea, select{
        outline: var(--focus-outline);
        outline-offset: var(--focus-outline-offset);
    }
}
.demo-grid{
    > .row > .col{
        padding: var(--spacing-large);
        background-color: var(--brand-danger-200);
        border-radius: var(--border-radius-default);
    }
}