@import "../../datawidgets/web/datagrid.scss";

.card-preview{
    > .card-body{
        min-height: 280px;
        > .mx-dataview, > .mx-datagrid{
            background-color: #fff;
            border-radius: var(--border-radius-default);
            padding: var(--spacing-medium);
        }
    }
}

.grid-variation{
    > .row{
        margin-left: 0;
        margin-right: 0;
        > [class*="col-"]{
            border: 0.5px solid var(--bg-color) ;
            padding-left: 0;
            padding-right: 0;
            background: var(--bg-color-secondary) ;
        }
    }
}

.grid-variation-preview{
    > .row{
        margin-left: 0;
        margin-right: 0;
        > [class*="col-"] {
            &:not(:last-of-type) {
                border-right: 0.5px solid var(--bg-color) ;
            }
            padding-left: 0;
            padding-right: 0;
            background: var(--bg-color-secondary) ;
        }
    }
}

.preview {
    // height: 100%;
    border-radius: var(--border-radius-default);
}

.demo-area{
    padding: var(--spacing-medium);
    flex: 0 0 50%;
}

.has-focus{
    input, textarea, select{
        border-color: var(--form-input-border-focus-color);
    }
}
.demo-grid{
    > .row > .col{
        padding: var(--spacing-large);
        background-color: var(--brand-danger-200);
        border-top: var(--spacing-small) solid #fff;
        border-bottom: var(--spacing-small) solid #fff;
        border-right: var(--spacing-small) solid #fff;
        &:first-child{
            border-left: var(--spacing-small) solid #fff;
        }
    }
}