//
// DISCLAIMER:
// Do not change this file because it is core styling.
// Customizing core files will make updating Atlas much more difficult in the future.
// To customize any core styling, copy the part you want to customize to styles/web/sass/app/ so the core styling is overwritten.
//

@mixin button-helpers() {
    /* ==========================================================================
       Button

    //== Design Properties
    //## Helper classes to change the look and feel of the component
    ========================================================================== */
    // Color variations
    .btn,
    .btn-default {
        @include button-variant(var(--btn-default-color), var(--btn-default-bg), var(--btn-default-border-color), var(--btn-default-bg-hover), var(--brand-default));
    }

    .btn-primary {
        @include button-variant(var(--btn-primary-color), var(--btn-primary-bg), var(--btn-primary-border-color), var(--btn-primary-bg-hover), var(--brand-primary));
    }

    .btn-inverse {
        @include button-variant(var(--btn-inverse-color), var(--btn-inverse-bg), var(--btn-inverse-border-color), var(--btn-inverse-bg-hover), var(--brand-inverse));
    }

    .btn-success {
        @include button-variant(var(--btn-success-color), var(--btn-success-bg), var(--btn-success-border-color), var(--btn-success-bg-hover), var(--brand-success));
    }

    .btn-info {
        @include button-variant(var(--btn-info-color), var(--btn-info-bg), var(--btn-info-border-color), var(--btn-info-bg-hover), var(--brand-info));
    }

    .btn-warning {
        @include button-variant(var(--btn-warning-color), var(--btn-warning-bg), var(--btn-warning-border-color), var(--btn-warning-bg-hover), var(--brand-warning));
    }

    .btn-danger {
        @include button-variant(var(--btn-danger-color), var(--btn-danger-bg), var(--btn-danger-border-color), var(--btn-danger-bg-hover), var(--brand-danger));
    }

    // Button Sizes
    .btn-lg {
        font-size: var(--font-size-large);

        img {
            height: calc(var(--font-size-small) + 4px);
        }
    }

    .btn-sm {
        font-size: var(--font-size-small);

        img {
            height: calc(var(--font-size-small) + 4px);
        }
    }

    // Button Image
    .btn-image {
        padding: 0;
        vertical-align: middle;
        border-style: none;
        background-color: transparent;

        img {
            display: block; // or else the button doesn't get a width
            height: auto; // Image set height
        }

        &:hover,
        &:focus {
            background-color: transparent;
        }
    }

    // Icon buttons
    .btn-icon {
        & > img,
        & > .glyphicon,
        & > .mx-icon-lined,
        & > .mx-icon-filled {
            margin: 0;
        }
    }

    .btn-icon-right {
        display: inline-flex;
        flex-direction: row-reverse;
        align-items: center;

        & > img,
        & > .glyphicon,
        & > .mx-icon-lined,
        & > .mx-icon-filled {
            top: 0;
            margin-left: 4px;
        }
    }

    .btn-icon-top {
        padding-right: 0;
        padding-left: 0;

        & > img,
        & > .glyphicon,
        & > .mx-icon-lined,
        & > .mx-icon-filled {
            display: block;
            margin: 0 0 4px 0;
        }
    }

    .btn-icon-only {
        @extend .btn-icon;
        padding: 0;
        color: var(--btn-default-icon-color);
        border: none;
    }

    .btn-style-icon {
        @extend .btn-icon;
        font-size: x-large;
        border-radius: 100%;
        border: none;
        padding: 12px;
        display: flex;
    }

    .btn-block {
        display: block;
        width: 100%;
    }

    .btn-block + .btn-block {
        margin-top: 4px;
    }
}
