//
// DISCLAIMER:
// Do not change this file because it is core styling.
// Customizing core files will make updating Atlas much more difficult in the future.
// To customize any core styling, copy the part you want to customize to styles/web/sass/app/ so the core styling is overwritten.
//

@mixin simple-menu-bar-helpers() {
    /* ==========================================================================
       Navigation

    //== Design Properties
    //## Helper classes to change the look and feel of the component
    ========================================================================== */
    // Center text and icons
    .bottom-nav-text-icons.mx-menubar {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        ul.mx-menubar-list {
            li.mx-menubar-item {
                flex: 1;
                a {
                    flex-direction: column;
                    padding: var(--spacing-small) var(--spacing-small) calc(var(--spacing-small) / 2);
                    line-height: normal;
                    font-size: var(--font-size-small);
                    .glyphicon,
                    .mx-icon-lined,
                    .mx-icon-filled {
                        display: block;
                        margin: 0 0 calc(var(--spacing-small) / 2) 0;
                        font-size: var(--font-size-large);
                    }
                    img {
                        display: block;
                        height: var(--font-size-large);
                        margin: 0 0 calc(var(--spacing-small) / 2) 0;
                    }
                }
            }
        }
    }

    .hide-icons.mx-menubar {
        .glyphicon,
        .mx-icon-lined,
        .mx-icon-filled {
            display: none;
        }
    }
}
