//== Media queries breakpoints
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.
$screen-xs: 480px !default;
$screen-sm: 576px !default;
$screen-md: 768px !default;
$screen-lg: 992px !default;
$screen-xl: 1200px !default;
$screen-xxl: 1400px !default;

// So media queries don't overlap when required, provide a maximum (used for max-width)
$screen-xs-max: ($screen-sm - 1) !default;
$screen-sm-max: ($screen-md - 1) !default;
$screen-md-max: ($screen-lg - 1) !default;
$screen-lg-max: ($screen-xl - 1) !default;
$screen-xl-max: ($screen-xxl - 1) !default;
