//
// DISCLAIMER:
// Do not change this file because it is core styling.
// Customizing core files will make updating Atlas much more difficult in the future.
// To customize any core styling, copy the part you want to customize to styles/web/sass/app/ so the core styling is overwritten.
//

@mixin combobox() {
    /* ==========================================================================
       Combobox
       
       Combobox input field inside form-group with hide-bg class
    ========================================================================== */
    .hide-bg.form-group .widget-combobox {
        .widget-combobox {
            &-input-container {
                background-color: transparent;
                border: unset;
                outline: transparent;
                input {
                    background-color: transparent;
                }
            }
        }

        .form-control{
            &:hover:not(:focus):not([disabled]) {
                border-color: transparent;
                background-color: transparent;
            }
        }

        .widget-combobox-icon-container{
            svg{
                fill: var(--cb-text-color);
            }
        }
    }

    .language-selector {
        --font-color-contrast: #{$navtopbar-color-active};
        margin-bottom: 0;
        
        .widget-combobox .widget-combobox-input-container:not(.widget-combobox-input-container-active) .widget-combobox-input {
            width: inherit;
        }
    }
}