.hide-bg.form-group .widget-combobox {
    .widget-combobox {
        &-input-container {
            background-color: transparent;
            border: unset;
            input {
                background-color: transparent;
            }
        }
    }
}