//
// DISCLAIMER:
// Do not change this file because it is core styling.
// Customizing core files will make updating Atlas much more difficult in the future.
// To customize any core styling, copy the part you want to customize to styles/web/sass/app/ so the core styling is overwritten.
//

@mixin data-view() {
    /* ==========================================================================
       Data view

       Default Mendix data view widget. The data view is used for showing the contents of exactly one object
    ========================================================================== */

    .mx-dataview {
        display: flex;
        flex-direction: column;
        /* Dataview-content gives problems for nested layout grid containers */
        > .mx-dataview-content {
            flex-grow: 1;

            .mx-placeholder > &{
                overflow-y: auto;
            }

            > .mx-container-nested {
                > .row {
                    margin-right: 0;
                    margin-left: 0;
                }
            }
        }

        /* Dataview empty message */
        .mx-dataview-message {
            color: var(--dataview-emptymessage-color);
            background: var(--dataview-emptymessage-bg);
        }
    }

    .mx-dataview-controls {
        padding: var(--spacing-medium) 0 0;
        border-top: 1px solid var(--dataview-controls-border-color);
        border-radius: 0;
        background-color: var(--dataview-controls-bg);
        display: flex;
        gap: var(--gutter-size);
        margin-bottom: 0;
        text-align: var(--dataview-controls-alignment);
    }
}
