//
// DISCLAIMER:
// Do not change this file because it is core styling.
// Customizing core files will make updating Atlas much more difficult in the future.
// To customize any core styling, copy the part you want to customize to styles/web/sass/app/ so the core styling is overwritten.
//

@mixin navigation-bar() {
    /* ==========================================================================
       Navigation

       Default Mendix navigation bar
    ========================================================================== */
    .mx-navbar {
        margin: 0;
        border-style: none;
        border-radius: 0;
        background: var(--navigation-bg);

        ul.nav {
            margin: 0; // weird -margin if screen gets small (bootstrap)
            /* Navigation item */
            & > li.mx-navbar-item > a {
                display: flex;
                column-gap: var(--spacing-small);
                align-items: center;
                padding: var(--navigation-item-padding);
                margin: var(--spacing-smaller);
                vertical-align: middle;
                color: var(--navigation-color);
                border-radius: 0;
                font-size: var(--navigation-font-size);
                font-weight: var(--font-weight-normal);
                border-radius: var(--navigation-border-radius);

                /* Dropdown arrow */
                .caret {
                    border-top-color: var(--navigation-color);
                    border-bottom-color: var(--navigation-color);
                }

                &:hover,
                &:focus,
                &.active {
                    text-decoration: none;
                    color: var(--navigation-color-hover);
                    background: var(--navigation-bg-hover);

                    .caret {
                        border-top-color: var(--navigation-color-active);
                        border-bottom-color: var(--navigation-color-active);
                    }
                }

                &.active {
                    color: var(--navigation-color-active);
                    background: var(--navigation-bg-active);
                    opacity: 1;
                }

                /* Dropdown */
                .mx-navbar-submenu::before {
                    position: absolute;
                    top: -9px;
                    left: 15px;
                    width: 0;
                    height: 0;
                    content: "";
                    transform: rotate(360deg);
                    border-width: 0 9px 9px 9px;
                    border-style: solid;
                    border-color: transparent transparent var(--navigation-border-color) transparent;
                }

                // Image
                img {
                    width: 20px; // Default size (so it looks good)
                    height: auto;
                }

                .glyphicon,
                .mx-icon-lined,
                .mx-icon-filled {
                    top: 0;
                    vertical-align: middle;
                    font-size: var(--navigation-glyph-size);
                }
            }

            & > .mx-navbar-item.active a {
                color: var(--navigation-color-active);
                background-color: var(--navigation-bg-active);
            }

            /* When hovering or the dropdown is open */
            & > .mx-navbar-item > a:hover,
            & > .mx-navbar-item > a:focus,
            & > .mx-navbar-item.open > a,
            & > .mx-navbar-item.open > a:hover,
            & > .mx-navbar-item.open > a:focus {
                text-decoration: none;
                color: var(--navigation-color-hover);
                background: var(--navigation-bg-hover);

                .caret {
                    border-top-color: var(--navigation-color-hover);
                    border-bottom-color: var(--navigation-color-hover);
                }
            }

            & > .mx-navbar-item.open .dropdown-menu > li.mx-navbar-subitem.active a {
                color: var(--navigation-sub-color-active);
                background: var(--navigation-sub-bg-active);

                .caret {
                    border-top-color: var(--navigation-sub-color-active);
                    border-bottom-color: var(--navigation-sub-color-active);
                }
            }
        }
        @media (max-width: $screen-md) {
            ul.nav > li.mx-navbar-item > a {
                padding: 10px 24px;
            }
            .mx-navbar-item.open .dropdown-menu {
                padding: 0;
                border-radius: 0;
                background: var(--navigation-sub-bg);

                & > li.mx-navbar-subitem > a {
                    padding: 10px 24px;
                    color: var(--navigation-sub-color);
                    border-radius: 0;
                    font-size: var(--navigation-sub-font-size);
                    font-weight: var(--font-weight-normal);

                    &:hover,
                    &:focus {
                        color: var(--navigation-sub-color-hover);
                        background: var(--navigation-sub-bg-hover);
                    }

                    &.active {
                        color: var(--navigation-sub-color-active);
                        background: var(--navigation-sub-bg-active);
                    }
                }
            }
        }

        /* remove focus */
        &:focus {
            outline: 0;
        }
    }
}
