//
// DISCLAIMER:
// Do not change this file because it is core styling.
// Customizing core files will make updating Atlas much more difficult in the future.
// To customize any core styling, copy the part you want to customize to styles/web/sass/app/ so the core styling is overwritten.
//

$default-android-color: #6fbeb5 !default;
$default-ios-color: rgb(100, 189, 99) !default;

@mixin bootstrap-style-ios($brand-style) {
    border-color: $brand-style;
    background-color: $brand-style;
    box-shadow: $brand-style 0 0 0 16px inset;
}

@mixin bootstrap-style-android($brand-style) {
    background-color: color-mix(in srgb, $brand-style, white 10%);
}

@mixin style($brand-key, $brand-variable) {
    div.widget-switch-brand-#{$brand-key} {
        .widget-switch {
            .widget-switch-btn-wrapper {
                &.checked {
                    @include bootstrap-style-ios($brand-variable);
                }
            }
        }
        &.android {
            .widget-switch {
                .widget-switch-btn-wrapper {
                    &.checked {
                        @include bootstrap-style-android($brand-variable);

                        .widget-switch-btn {
                            background: $brand-variable;
                        }
                    }
                }
            }
        }
    }
}

@mixin switch() {
    .widget-switch-btn-wrapper {
        &:focus-visible {
            @extend .focus-ring !optional;
        }
    }

    .widget-switch input[type="checkbox"].sr-only {
        position: absolute!important;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px!important;
        overflow: hidden;
    }

    @include style("primary", var(--brand-primary));
    @include style("secondary", var(--brand-default));
    @include style("success", var(--brand-success));
    @include style("warning", var(--brand-warning));
    @include style("danger", var(--brand-danger));
}
