//
// DISCLAIMER:
// Do not change this file because it is core styling.
// Customizing core files will make updating Atlas much more difficult in the future.
// To customize any core styling, copy the part you want to customize to styles/web/sass/app/ so the core styling is overwritten.
//

$default-android-color: #6fbeb5;
$default-ios-color: rgb(100, 189, 99);

@mixin bootstrap-style-ios($brand-style) {
    border-color: $brand-style;
    background-color: $brand-style;
    box-shadow: $brand-style 0 0 0 16px inset;
}

@mixin bootstrap-style-android($brand-style) {
    background-color: color-mix(in srgb, $brand-style, white 10%);
}

@mixin style($brand-key, $brand-variable) {
    div.widget-switch-brand-#{$brand-key} {
        .widget-switch {
            .widget-switch-btn-wrapper {
                &.checked {
                    @include bootstrap-style-ios($brand-variable);
                }
            }
        }
        &.android {
            .widget-switch {
                .widget-switch-btn-wrapper {
                    &.checked {
                        @include bootstrap-style-android($brand-variable);

                        .widget-switch-btn {
                            background: $brand-variable;
                        }
                    }
                }
            }
        }
    }
}

// maintained for backwards compatibility prior to Switch 3.0.0.
@mixin ios {
    .widget-switch-btn-wrapper {
        &.checked {
            &.widget-switch-btn-wrapper-default {
                @include bootstrap-style-ios($default-ios-color);
            }

            &.widget-switch-btn-wrapper-success {
                @include bootstrap-style-ios(var(--brand-success));
            }

            &.widget-switch-btn-wrapper-info {
                @include bootstrap-style-ios(var(--brand-primary-300));
            }

            &.widget-switch-btn-wrapper-primary {
                @include bootstrap-style-ios(var(--brand-primary));
            }

            &.widget-switch-btn-wrapper-warning {
                @include bootstrap-style-ios(var(--brand-warning));
            }

            &.widget-switch-btn-wrapper-danger {
                @include bootstrap-style-ios(var(--brand-danger));
            }

            &.widget-switch-btn-wrapper-inverse {
                @include bootstrap-style-ios(var(--brand-primary-600));
            }
        }
    }
}

// maintained for backwards compatibility prior to Switch 3.0.0.
@mixin android {
    .widget-switch-btn-wrapper {
        &.checked {
            &.widget-switch-btn-wrapper-default {
                @include bootstrap-style-android($default-android-color);

                .widget-switch-btn {
                    background: $default-android-color;
                }
            }

            &.widget-switch-btn-wrapper-success {
                @include bootstrap-style-android(var(--brand-success));

                .widget-switch-btn {
                    background: var(--brand-success);
                }
            }

            &.widget-switch-btn-wrapper-info {
                @include bootstrap-style-android(var(--brand-primary-300));

                .widget-switch-btn {
                    background: var(--brand-primary-300);
                }
            }

            &.widget-switch-btn-wrapper-primary {
                @include bootstrap-style-android(var(--brand-primary));

                .widget-switch-btn {
                    background: var(--brand-primary);
                }
            }

            &.widget-switch-btn-wrapper-warning {
                @include bootstrap-style-android(var(--brand-warning));

                .widget-switch-btn {
                    background: var(--brand-warning);
                }
            }

            &.widget-switch-btn-wrapper-danger {
                @include bootstrap-style-android(var(--brand-danger));

                .widget-switch-btn {
                    background: var(--brand-danger);
                }
            }

            &.widget-switch-btn-wrapper-inverse {
                @include bootstrap-style-android(var(--brand-primary-600));

                .widget-switch-btn {
                    background: var(--brand-primary-600);
                }
            }
        }
    }
}

@mixin switch() {
    .widget-switch-btn-wrapper {
        &:focus {
            outline: 1px solid var(--brand-primary);
        }
    }

    @include style("primary", var(--brand-primary));
    @include style("secondary", var(--brand-default));
    @include style("success", var(--brand-success));
    @include style("warning", var(--brand-warning));
    @include style("danger", var(--brand-danger));

    // below is maintained for backwards compatibility prior to Switch 3.0.0.
    div {
        &.widget-switch {
            &.iOS {
                @include ios;
            }

            &.android {
                @include android;
            }

            &.auto {
                @include ios;
            }
        }
    }

    html {
        div {
            &.dj_android {
                .widget-switch {
                    &.auto {
                        @include android;
                    }
                }
            }

            &.dj_ios {
                .widget-switch {
                    &.auto {
                        @include ios;
                    }
                }
            }
        }
    }
}
