// Theme options
$brand-logo: false !default;
$font-family-import: "https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,700&display=swap";
$form-input-style: default;
$btn-bordered: false; // Default value false, set to true if you want this effect

//== Media queries breakpoints
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.

$screen-xs: 480px;
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;

// So media queries don't overlap when required, provide a maximum (used for max-width)
$screen-xs-max: (
    $screen-sm - 1
);
$screen-sm-max: (
    $screen-md - 1
);
$screen-md-max: (
    $screen-lg - 1
);
$screen-lg-max: (
    $screen-xl - 1
);

//== Settings
//## Enable or disable your desired framework features
// Use of !important
$important-flex: true; // ./base/flex.scss
$important-spacing: true; // ./base/spacing.scss
$important-helpers: true; // ./helpers/helperclasses.scss

// == Legacy
// ## Disable if your theme uses Sass variables (Atlas 3 standard)
$use-css-variables: true;